body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
}

body {
  line-height: 1.5;
  padding: 4em 1em;
}

label {
  display: block;
}

input, textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  padding: .375rem .75rem;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
img {
  max-width: 100%;
}

.pictures-row {
  margin: 0 -.5em;
  text-align: center;
}

.picture-field {
  display: inline-block;
  width: 33%;
}

.picture-field label {
  cursor: pointer;
  padding: .5em;
}

.form-row {
  width: 100%;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

button {
  cursor: pointer;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  background: white;
  border: 1px solid black;
}

button:hover {
  background: gray;
}